.btn-primary {
  color: #fff;
  background-color: rgb(0,190,221);
  border-color: rgb(0,190,221);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: rgb(0,190,221);
  border-color: rgb(0,190,221);
}


.btn-warning{
	color: #fff;
  background-color: #ff7360;
  border-color: #ff7360;

}


.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #FA8171;
  border-color: #FA8171;
}

.btn-success {
  color: #fff;
  background-color:#223544;
  border-color:#223544;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #305069;
  border-color: #305069;
}
