/*********** Layout ************

이 파일은 전반적인 웹페이지의 레이아웃을 담당하는 css 모듈입니다. 
클래스(모든 페이지에 두루 사용된 css모듈)



/******** 브랜딩 색깔 ********

#00bedd
#223544 navy
#3550877 sea blue
#fe7260 orange
#9ED61A green
#4F87FF blue
#e5e5e5 light white gray
#5c5c5c dark gray

************************************/

.hero{
	background-color: #00BEDD;
	padding:200px 0;
	text-align:center;
	background: url('../../img/heroplane.jpg') no-repeat top center;
	background-size: cover;
	/*background-attachment: fixed;*/
	height: 800px;

}


.hero-product{
	padding:130px 0;
	text-align:center;
	background: url('../../img/productbg.jpg') no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
}


#usercase{
	text-align:center;
	background: url('../../img/herobg.jpg') no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
	padding: 40px;
}

#press-bg,.short-bg{
	background: url('../../img/pressbg.jpg') no-repeat center center;
	
	background-size: cover;
	height: 300px;
	
}

#down-bg{
	background: url('../../img/downbg.jpg') no-repeat center center;
	
	background-size: cover;
	height: 300px;
	
}


.branding { 
	background: url('../../img/hero.jpg') no-repeat center center; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	background-attachment: fixed; 
	padding: 150px 0; 

}



#api{
	background: url('../../img/downbg.jpg') no-repeat center center;
	padding-top: 86px;
	text-align:center;
	background-size: cover;
	border-bottom: 1px solid #e5e5e5;
}

.about-bg{
	background: url('../../img/contact.jpg') no-repeat center center;
	background-size: cover;
	height: 300px;
}






#download{
	padding:102px 0;
	text-align:center;
	background-size: cover;
	color:#333;
	border-bottom: 1px solid #e5e5e5;
	overflow-y:hidden;
}






.api-bg{
	background-color:#223544;
	padding:50px;
	text-align: left;
	font-size: 16px;


}
.api-bg p{color: white;}

/*#press-bg{margin-bottom: 100px;text-align: left;}*/
.short-bg{text-align: center;}
/*.short-bg .row{padding-top: 32px;}*/





#benefit,#downtab,#lang-tab{
	text-align: center;
	color:#333;
}



#api h4{margin-top: 20px;}

#testimony{
	border-radius: 10px;
	padding:20px;
	color:#333;
}

#press{
	color: #333;
	list-style: none;
	border-top:1px solid #e5e5e5;
}
#menu{position: fixed;}
#menu #send-widget-btn .icon,#menu #receive-widget-btn .icon{font-size: 30px;text-align: center;}

footer {
  bottom: 0;
  width: 100%;
  height:400px;
  padding: 40px 0 30px;
}



.item{padding:20px 50px;height:320px;}

/**** Spacing *****/
.space-top20{margin-top:20px;}
.space-top40{margin-top:40px;}
.space-bot40{margin-bottom:40px;}
.space-bot30{margin-bottom:30px;}
.section-spacing{margin-bottom:50px;}

