/*********** Layout ************

이 파일은 전반적인 웹페이지의 레이아웃을 담당하는 css 모듈입니다. 
클래스(모든 페이지에 두루 사용된 css모듈)



/******** 브랜딩 색깔 ********

#00bedd
#223544 navy
#3550877 sea blue
#fe7260 orange
#9ED61A green
#4F87FF blue
#e5e5e5 light white gray
#5c5c5c dark gray

************************************/

.hero h2{
	color:#ffffff; 
	font-size: 29px;
	letter-spacing: 3px;
	line-height: 1.5em; 
	color: #FFFFFF;
	line-height: 50px;
	text-shadow: 0px 2px 4px rgba(0,180,211,0.9);
}

#dropzone{padding:10px;border:2px dotted #446987;border-radius: 10px;margin-bottom: 20px;}
#benefit,#downtab{
	text-align: center;
	color:#333;
}

#downtab span{font-size: 30px;}

#benefit .icon{
	font-size: 50px;
	color:white;
	padding: 22px;
	margin:0 auto;
}




#product{text-align: center;color: #333;}
#product img{width:61.7703349%;}
#product .row div{margin-bottom: 40px;}
#product img,#multi-device img{width: 80%;}


#howitworks{border-bottom: 1px solid rgba(0,0,0,0.1);}
#howitworks img{width:60%;}


#press{
	color: #333;
	list-style: none;
	border-top:1px solid #e5e5e5;
}

#press img{width:60px;}


.about-img h3{margin-top:123px;}




#platform{font-size:23px;}


#api{
	padding:82px 0;
	text-align:center;
	background-size: cover;
	background-attachment: fixed;
	color:#333;
}

#testimony{
	border-radius: 10px;
	padding:20px;
	color:#333;
}
#testimony p{
	font-size:20px;
	line-height: 1.6em;
	font-family: 'Arvo', serif;
	font-weight: 400;
	color:#5c5c5c;
}
#user{background-color: #fff;color:#333;}
#user h4{color: #333;}



ul.legals { list-style: none; color: #fff; line-height: 25px; }
ul.legals li { display: inline-block; }
ul.legals li::after { content: " |"; }
ul.legals li:last-child::after { content: ""; }
.legals {text-align: left;}
.credit {text-align: right;}


.item{padding:10px 50px;height:250px;}
.item img{margin: 0 auto;}



#menu-1{position: fixed;}




footer {
  bottom: 0;
  width: 100%;
  height:400px;
}
footer ul{margin-bottom:50px;}

footer li{margin-bottom: 5px;}
footer a:hover{color:rgb(0,190,221);text-decoration: none;}
footer { background-color: #242830; padding: 40px 0 30px; }
footer p { color: #fff; }
	

/**** Spacing *****/
.space-top20{margin-top:20px;}
.space-bot40{margin-bottom:40px;}
.space-bot30{margin-bottom:30px;}
.section-spacing{margin-bottom:50px;}

