/* 320px (iPhone) */
@media screen and (max-width:320px) {
	/*footer{height: 1000px;}*/
	.drawer-effect.offnav-menu {visibility: hidden;}
	.hero{padding:68px 0;height: 550px;margin-bottom: -125px;
		background-attachment:local;
	}
	.hero h2{font-size: 1.5em;line-height: 1.4em;font-weight: 100;}
	#platform{padding-bottom: 50px;}
	#platform section div{margin-right: 20px;}
	#platform .icon{padding: 8px;}
	.hero .icon{font-size: 22px;}
	.circle-50{width:40px;height: 40px;border-radius: 100%;}
	.btn-lg, .btn-group-lg > .btn{padding:5px;font-size: 14px;}
	.navbar-brand > img{width: 75%}
	.circle-icon{width:70px;height: 70px;border-radius: 100%;}
	#benefit .icon{font-size: 45px;padding: 13px;}
	#benefit section{margin-bottom: 50px;}
	.offnav-content{overflow-y:visible;}
	.panel-view{padding: 20px;}
	.circle{width: 70px;height: 70px;}
	.item{padding: 0;height:290px;}
	#user{border-top: 1px solid #e5e5e5;}
	#testimony p{font-size:12px;}
	#press div{padding: 0 38px;}
	.circlebg{width: 70px;height: 70px;border-radius: 70px;margin-bottom: 30px;}
	.circlebg img{margin:18px -19px;}

	#press #cnet{width: 40px;}
	#press #tc{width: 40px; padding: 7px 0;}
	#press #tnw{width: 40px; padding:10px 0;}
	#press #bbc{width: 40px; padding:12px 0;}

	.hero-product{height: 400px;}
	#product h2{font-weight: 300;
font-size: 2em;line-height: 1.4em;
letter-spacing: 3px;}
}
#product h4{line-height: 1.5em;font-size: 1.2em;}

#feature img{width: 100%;}

/* 480px (WVGA - Low End Windows Phone) */
@media (min-width:322px) and (max-width:480px) {
	footer{height: 950px;}/*
	.hero{background-attachment: scroll;}
	.drawer-effect.offnav-menu {visibility: hidden;}
	.offnav-content{overflow-y:visible;}*/

	.drawer-effect.offnav-menu {visibility: hidden;}
	.hero{padding:68px 0;height: 550px;margin-bottom: -125px;
		background-attachment:local;
	}
	.hero h2{font-size: 1.5em;line-height: 1.4em;}
	#platform{padding-bottom: 50px;}
	#platform section div{margin-right: 20px;}
	#platform .icon{padding: 8px;}
	.hero .icon{font-size: 22px;}
	.circle-50{width:40px;height: 40px;border-radius: 100%;}
	.btn-lg, .btn-group-lg > .btn{padding:5px;font-size: 14px;}
	.navbar-brand > img{width: 75%}
	.circle-icon{width:70px;height: 70px;border-radius: 100%;}
	#benefit .icon{font-size: 45px;padding: 13px;}
	#benefit section{margin-bottom: 50px;}
	.offnav-content{overflow-y:visible;}
	.panel-view{padding: 20px;}
	.circle{width: 70px;height: 70px;}
	.item{padding: 0;height:290px;}
	#user{border-top: 1px solid #e5e5e5;}
	#testimony p{font-size:14px;}
	#press div{padding: 0 22.25%;}
	.circlebg{width: 70px;height: 70px;border-radius: 70px;margin-bottom: 30px;}
	.circlebg img{margin:18px -19px;}

	#press #cnet{width: 40px;}
	#press #tc{width: 40px; padding: 7px 0;}
	#press #tnw{width: 40px; padding:10px 0;}
	#press #bbc{width: 40px; padding:12px 0;}

	#product h2{font-weight: 300;
font-size: 2em;line-height: 1.4em;
letter-spacing: 3px;}
}
#product h4{line-height: 1.5em;font-size: 1.2em;}
}
/* xGA iPad */
@media screen and (max-width:1024px) {
	
	.branding { background-attachment: scroll;line-height: 1.23em; }
	.container-sm{width:600px;}
	
}
/* 1200px (Small Desktop, Netbook) */
@media screen and (max-width:1280px) {
	
	#cloud{
  background: url("../img/cloudmid.png") repeat-x center;
}
}
/* Bootstrap 990px Breakpoint to 480px */
@media screen and (min-width:480px) and (max-width:991px) {
	
}

@media screen and (min-width: 768px){
	.carousel-indicators {bottom: -49px;}
	.hero{background-attachment: scroll;}
	.offnav-content{overflow-y:visible;}
}
