
/* 320px (iPhone) */
@media screen and (max-width:320px) {
	footer{height: 1100px;}
	
	.hero{padding: 111px 0;height: 600px;margin-bottom: -125px;background-attachment:local;}
	
	
	#press div {padding: 0 7%;}


	

#download h4{line-height: 1.3em;font-size:1em;}
/*sup{font-size: 10px;}*/
/*#img1 div:nth-child(2),
	#img2 div:nth-child(2),
	#img3 div:nth-child(2){margin: 30px 0;}*/

	#img1 h3,
	#img2 h3,
	#img3 h3{text-align: center;font-size: 1.5em;}
	#download-area button{margin-left: 29.8507463%;}

}


/* 480px 이하 고옹 */
@media screen and (max-width:480px) {
	
	.hero h2{font-size: 1.2em;line-height: 1.8em;font-weight: 100;}
	#platform{padding-bottom: 50px;margin-left: 7.090909%;}
	#platform section div{margin-right: 20px;}
	#platform .icon{padding: 8px;}
	.hero .icon{font-size: 22px;}
	.circle-50{width:40px;height: 40px;border-radius: 100%;}
	.btn-lg, .btn-group-lg > .btn{padding:11px;font-size: 14px;}
	.navbar-brand > img{width: 75%}
	.circle-icon{width:70px;height: 70px;border-radius: 100%;}
	#benefit .icon{font-size: 45px;padding: 13px;}
	#benefit section{margin-bottom: 50px;}
	/*.offnav-content{overflow-y:visible;}*/
	.panel-view{padding: 40px 20px;}
	.circle{width: 70px;height: 70px;}
	.item{padding: 0;height:290px;}
	#user{border-top: 1px solid #e5e5e5;}
	#testimony p{font-size:12px;}
	sup{top: -1.0em;}
	
	.circlebg img{margin:70px -19px;}


	/*#press #cnet{width: 40px;}*/
	#press #tc{/*width: 40px;*/ padding: 7px 0;}
	#press #tnw{/*width: 40px;*/ padding:10px 0;}
	#press #bbc{/*width: 40px;*/ padding:12px 0;}
	/*#press div{padding: 0 22.25%;}*/

	.hero-product{padding:77px 0;height: 500px;}
	#product h2,#download h2{font-weight: 300;font-size: 1.7em;line-height: 1.4em;}
	#product h4{line-height: 1.5em;font-size: 1.2em;}
	#usercase{height: 1200px;}

	#feature img{width: 100%;}
	#download h4{line-height: 1.5em;}
	sup{font-size: 10px;}

	#img1 div:nth-child(2),
	#img2 div:nth-child(2),
	#img3 div:nth-child(2){margin: 0 0 30px 0;}

	#about-hero h3{line-height: 33px;}

	#contact h3,#support h3{font-size: 18px;}
	#contact h4,#support h4{font-size: 16px;}

	#press-bg h3{font-size:18px;}
	#down-bg button, #press-bg button{
		margin-top: 15px;
	}
	
	#press-list ul{padding: 0;}
	#about-hero{padding: 146px 0;}
	#about h3{font-size: 20px;}
	#about-description p,#press-list p{
		font-size: 14px;
		line-height: 21px;
		/*margin-bottom: 40px;*/
	}
	#team .col-md-8 .col-md-6:nth-child(2){
		margin-top: 40px;
	}
	#team-profile .col-md-3,#team .col-md-3{margin-top: 35px;}
	#team-profile{margin-top: 0;}
	#team h4,#team-profile h4{font-size: 16px;}
	#press-divider{
		border: none;
		padding:30px 15px;
	}
	footer{height: 600px;}
	footer p{font-size: 13px;}

	#feature h2{margin-bottom:0px;}
	#feature h2,#usercase h2{font-size: 26px;}
	#case1,#case2,#case3,#case4{margin-bottom: 41px;}
	#sns-responsive li:nth-child(4) img{width: 23px;}
	#company-info {margin-top: 30px;}
	/*.short-bg .icon{padding-top: 13px;}*/
	.short-bg .icon, #api .icon{font-size: 40px;}
	#down-bg h3{font-size: 22px;}
	#downtab h4{font-size: 16px;}
	#tab-content h3{font-size: 22px;}
	#download-area h4{font-size: 16px;margin-bottom: 20px;}
	#press-list img{width: 84px;}
	#press-list #page2 img{width: 124px;}
	.pager{margin-left: -7px;}
	#api h3{font-size: 20px;line-height: 29px;}
	#widget-api h3, #rest-api h3{font-size: 18px;margin-bottom: 30px;}
	#widget-api p{padding: 0 31px;}
	#press-list li:nth-child(7) .col-md-9{padding-top: 0;}
	#press-bg .col-md-6{padding: 51px 0;}
	#contact-bg .icon,#top .icon,#down-bg .icon {padding-top: 62px;}

	#widget-api p, #rest-api p{font-size: 14px;line-height: 20px;}
	.highlight{margin-bottom: 50px;}
	#extra-page img{width: 129px;}
	#extra-page p{font-size: 14px;line-height: 21px;padding: 0 21px;}
}


@media (min-width:322px) and (max-width:400px) {
	.circlebg{padding: 0;margin-left: 16.5697674%;}


}

@media (min-width:400px) and (max-width:500px) {
.circlebg{margin-left:25.2631579%;}
}


@media (min-width:501px) and (max-width:600px) {
.circlebg{margin-left:28.263158%;}
}

@media (min-width:601px) and (max-width:700px) {
.circlebg{margin-left:33.263158%;}
}


@media (min-width:701px) and (max-width:800px) {
.circlebg{margin-left:35.263158%;}
}


@media (min-width:801px) and (max-width:999px) {
.circlebg{margin-left:36.263158%;}
}
/*
@media (min-width:400px) and (max-width:600px) {
	.circlebg{padding: 0;margin-left: 18%;}


}*/

/* 480px (WVGA - Low End Windows Phone) */
@media (min-width:322px) and (max-width:480px) {
	/*#press div{padding: 0 10%;}*/
	.hero{padding: 115px 0;height: 600px;margin-bottom: -125px;background-attachment:local;}
	#img1 h3,
	#img2 h3,
	#img3 h3{text-align: center;font-size: 1.5em;}
	#download-area button{margin-left: 29.8507463%;}
	#about-description p,#team p,#team-profile p{font-size: 14px;line-height: 1.5em;}
	#press-divider{border:none;padding-left: 15px;margin-top: 30px;}

}


/* 900px 이하 공통 */

@media screen and (max-width:900px) {
	.drawer-effect.offnav-menu {visibility: hidden;}
	#company-info{
		border-top: 1px solid #3f3f3f;
		padding-top: 20px;
		margin-top: 20px;
	}
	#sns-responsive .icon{font-size: 25px;}
	.navbar-default{background-color: white;}
	#page1 p,#page2 p{margin-top:20px;font-size: 14px;line-height: 22px;}
	footer{height: 680px;}
	footer ul{padding-left:40px;}
	.circlebg p{padding: 10px;}
}




/* xGA iPad */
@media (min-width:768px) and (max-width:990px) {
	#user{border-top: 1px solid #e5e5e5;}
	#platform{margin-left: 15.669039%;}
	#page1 p,#page2 p{margin-top:20px;font-size: 14px;line-height: 22px;}
	footer{height: 700px;}
	#company-info{border-top: 1px solid #3f3f3f;padding-top: 20px;margin-top: 20px;}
	

}
/* 1200px (Small Desktop, Netbook) */
@media (min-width:990px) and (max-width:1180px) {
	
	#platform{margin-left:2.302923%;}
	#user{border-top: 1px solid #e5e5e5;}
}

@media (min-width:1180px) and (max-width:1900px) {
	#platform{margin-left:3.802923%;}
}
@media screen and (max-width:1180px) {
	.circlebg{margin-bottom: 30px;}
	#feature h3{line-height: 1.4em;text-align: center;}
	#tab-content p{font-size: 13px;line-height: 21px;}
	#press-list img {width: 84px;}
	#press div{padding:0;}
}


/* Bootstrap 990px Breakpoint to 480px */
@media (min-width: 768px) and (max-width:1180px) {
	#secure-code div:nth-child(1) p{top: 28px;left: 17px;}
	#secure-code div:nth-child(2) p{top: 28px;left: 14px;}
	#secure-code div:nth-child(3) p{top: 28px;left: 10px;}
	#secure-code a{margin-right: 20px;}
	#img1 div:nth-child(2), #img2 div:nth-child(2), #img3 div:nth-child(2){
		margin-top:50px;
	}
	#feature h3{line-height: 1.5em;}

}

@media screen and (min-width: 500px) and (max-width: 768px){
	
	#user{border-top: 1px solid #e5e5e5;}
	.hero{padding:141px 0;height: 750px;margin-bottom: -125px;background-attachment:local;}
	.hero h2{width: 563px;margin: 0 auto;}
	#platform{margin:20px 0 0 16.6666667%;}
	#benefit section{margin-bottom: 50px;}

	/*#press-icon div{float: left;margin-right: 146px;}*/
	#product h2, #download h2, .short-bg h2{font-size: 23px;}

	#feature img{width: 100%;}
	

}
