.btn{border-radius: 5px;}
.btn-primary {
  color: #fff;
  background-color: rgb(0,190,221);
  border-color: rgb(0,190,221);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary .focus,
.btn-primary:active,
.btn-primary .active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: rgb(0,190,221);
  border-color: rgb(0,190,221);
}


.btn-default:hover,
.btn-default:focus,
.btn-default .focus,
.btn-default:active,
.btn-default .active,
.open > .dropdown-toggle.btn-primary {
  color: #333;
  background-color: rgba(0,190,221,0.4);
  border-color: rgb(0,190,221);
}


.btn-warning{
	color: #fff;
  background-color: #fe7260;
  border-color: #fe7260;

}


.btn-warning:hover,
.btn-warning:focus,
.btn-warning .focus,
.btn-warning:active,
.btn-warning .active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #FA8171;
  border-color: #FA8171;
}

/*.btn-success {
  color: #fff;
  background-color:#223544;
  border-color:#223544;
}
*/


/*
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #305069;
  border-color: #305069;
}
*/

.btn,.btn-animation{
-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}


.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-animation{
  height: 35px;
  line-height: 20px;
  font-size: 18px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}


.btn-animation:active {
  background: #9053a9;
  top: 2px;
}
/*.btn-hidden-text {opac}*/
.btn-animation span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.5s;
  -moz-backface-visibility: hidden;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.btn-animation:before {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 150%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-animation:active:before {
  color: #703b87;
}


/* Button 5a */
.btn-animation:hover span {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  -ms-transform: translateY(300%);
  transform: translateY(300%);
}

.btn-animation:before {
  left: 0;
  top: -200%;
}

.btn-animation:hover:before {
  top: -12px;
}
