
/******* NAVBAR *******/
.navbar-default{
	background-color:rgba(255,255,255,0);
	border: none;
	-webkit-box-shadow: 0 3px 6px -6px #333;
	   -moz-box-shadow: 0 3px 6px -6px #333;
	        box-shadow: 0 3px 6px -6px #333;
	        padding:5px;
}

.navbar-fixed-top, .navbar-fixed-bottom{z-index: 100000;}

 /* 스크롤 할때 하얀색 배경으로 바꾸는 클래스*/
 .scrolling {background-color: rgba(255,255,255,1);}
.navbar-default .navbar-brand, .navbar-default .navbar-nav> li> a{color:#333;}
.navbar #nav> .active> a {
    color: red;
}
.navbar-default .navbar-nav> .active> a, 
.navbar-default .navbar-nav> .active> a:hover, 
.navbar-default .navbar-nav> .active> a:focus{color: #223544;font-weight:bold;background: none;}


.navbar-default .navbar-toggle{border: none;}
.navbar-default .navbar-toggle .icon-bar{
	background-color: rgb(0,190,221);
}



.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:white;
}


.nav-tabs> li> a{margin-right:0;}
.navbar-nav{margin:0;}