.hidden{
	  display: none;
    visibility: hidden;
}

.reveal{
	  display: block;
    visibility: visible;
}


.progress-bar {
  background-color: #fe7260;

}

.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
visibility: hidden;
}

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight {
visibility: visible;
}

.delay-03s { animation-delay: 0.3s; -webkit-animation-delay: 0.3s; }
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }

.clicked{
	background-color: #fe7260;
}


