/*********** 

Theme 




***************/

body{background-color: #fff;}
.disabled{pointer-events: none;} /*  위젯이나 버튼을 deactivation 할때 사용 */

pre code{white-space:normal;}
.highlight pre {
padding: 20px;
/*margin-top: 0;*/
/*margin-bottom: 0;*/
margin: 40px 20px;
word-break: normal;
white-space: nowrap;
background-color: transparent;
border: 0;
}
.highlight {
padding: 10px;
margin-bottom: 14px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}

.cp{color: #099;}
.na {color: #4f9fcf;}
.s {color: #d44950;}


.hero h2{
	color:#333; 
	letter-spacing: 3px;
	line-height: 1.5em; 
	/*text-shadow: 0px 2px 4px rgba(0,180,211,0.9);*/
	font-weight: 300;
	font-size: 28px;
	letter-spacing: 2px;
}

#sub-text p{color: #333; font-size: 13px;margin-top:10px;text-align: center;}





.hero .icon{
	font-size: 23px ;
	color:white;
	margin-top:10px;
	 -moz-box-shadow:    inset 0 0 2px #028CA3;
   -webkit-box-shadow: inset 0 0 2px #028CA3;
   box-shadow:         inset 0 0 2px #028CA3;
   padding:12px;
}


.icon-white{font-size: 40px;color:white;}


#contact-bg,#down-bg,#top,#press-bg{padding-top:92px;}
#about-hero{padding:252px 0}
#about-hero p{font-size:18px;color:white;}
#down-bg button,#press-bg button{margin-top:20px;}

#testimony .carousel-inner{margin-bottom: 20px;}
#testimony .icon{margin-right:20px;font-size:30px;}
 
#company-info{font-size: 14px;}
#sns-responsive{padding-top: 9px;}
footer{background-color: #2c3e50;}
footer #sns-responsive li{ float: left; }
footer #sns-responsive li:nth-child(4) {margin-right: 19px;}
footer .icon{
	color:white;
	font-size: 26px;
	/*float: left;*/
	margin-right: 15px;

}
footer a { color: #fff;}
footer li{color:white;list-style: none;}
footer h5{font-weight: bold;font-size: 16px;}
#product ul{list-style: none;}
#product li{padding:11px;margin:20px;float: left;color:white;font-size:16px;}
#product h2,#download h2,.short-bg h2{font-weight: 300;font-size: 30px;letter-spacing: 3px;margin-bottom: 20px;}
#product h4{font-weight: 400;}

#support{border-top: 1px solid #e5e5e5;}
#support,#press-support{margin-top: 30px;}
#support ul{padding:0;}
#support li{list-style: none;float: left;text-align: center;margin:15px 30px 30px 0;}
#support a{color: #333;}
#support .icon{font-size:30px;margin-bottom: 5px;}
#support a:hover{text-decoration: none;color:rgb(0,190,221);}


.device span{font-size:1.5em;margin-right: 20px;}
.device li{list-style: none;float: left;width: 100%;font-size:15px;margin-bottom:13px;}
.device{margin-top: 12px;/*color:#333;*/}
.device p{color:white;}

.device a{color:white;}
.devicetag{margin-bottom:20px;font-size:20px;text-align: center;color:white;}

.overlay-card #close-device-btn{
	right: 43px;
}

.droplist #close-drop-btn{
	right: 16px;
}

.overlay-card #close-device-btn,
.droplist #close-drop-btn{
	font-size: 16px;
	color: #223544;
	position: absolute;
	
	top: 13px;
}


.list-header{margin-bottom: 20px;}
.list-header h5{
	font-size: 18px;
	border-bottom: 1px solid #04869B;
	padding-bottom: 10px;
}
.list-header .icon{
	font-size: 18px;
	float: right;
	position: absolute;
	right: 66px;
	top: 12px;
	color: #223544;
}
#press .icon{
	font-size:60px;
	
}


#testimony-control{padding-left: 19px;}
#press div{padding: 0 34px;}

#user .icon{font-size: 30px;}
#user .item{height: 250px;}
#press .icon{color:#00bedd;}
#user .icon{color:#00bedd;}
#press #tc{width:83px;padding:19px 0;}
#press #tnw{width:105px;padding:19px 0;}
#press #bbc{width:108px;padding:19px 0;}

.carousel-indicators .active{
	background-color: #333;
}

.carousel-indicators li{

	background-color: #888;
	border: none;
}


#img1 div:nth-child(2),
#img2 div:nth-child(2),
#img3 div:nth-child(2){margin-top: 155px;}

sup{font-size: 13px;top:-1.5em;}
.badge{
	background-color: #00bedd;
	color:#fff;
	position: absolute;
	right: 20px;
	top: 38px;
	padding: 5px;
	cursor: pointer;

}

#widget .badge{
	background-color: #00bedd;
	color:#333;

}
#faq,#contact,#about,#support,#team{color:#333;}
#team{text-align: center;}
#team p{text-align: left;}

#team h3{margin-bottom: 50px;}
#team h4{margin: 16px 0 10px 0;font-size: 16px;}
#team ul{padding:10px 0 0 0;}
.carousel-control{
position: relative;
width:100%;
opacity: 1;
text-shadow:none;
font-size: 1em;
}

#team li{text-align: left;list-style: none;}


#usecase section, #feature section{padding: 0 39px;}

#feature,#usecase{color:#333;border-bottom: 1px solid #e5e5e5;border-top: 1px solid #e5e5e5;}
#feature h2, #usecase h2{margin-bottom:50px;text-align: center;/*text-transform: uppercase;*/}
#feature img{width: 100%;}

.nav-tabs> li.active> a, .nav-tabs> li.active> a:hover, .nav-tabs> li.active> a:focus{

	border:none;
	background-color: transparent;

}
#lang-btn{padding:20px 0 0 27px;}
#download h4{margin:30px 0 60px 0;}

#downtab .nav> li> a{padding: 0;border:none;}
#downtab li:first-child span{
	border-top-right-radius: 0;
border-bottom-right-radius: 0;
}

#downtab li:nth-child(2) span{
	border-left: 0;
border-right: 0;
border-radius: 0;
}

#downtab li:nth-child(3) span{
	border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
/*
.nav-tabs{border-bottom: none;}
.nav-tabs> li> a{margin:0;}*/
#browser .icon{font-size: 16px;margin-top: 0px;}
#browser h5{font-weight: bold;font-size: 15px;}
#browser p{font-size: 13px;}
#widget-api h4,#rest-api h4{font-size: 15px;font-weight: bold;margin-bottom: 15px;}

#widget-api,#rest-api{color: #333;}
#rest-api{border-top: 1px solid #e5e5e5;}
#widget-api .icon{font-size: 30px;color: white;}
#widget-api .card{padding: 58px;}
#widget-api p{padding:0 85px;}
#rest-api p{padding:0 43px;}
#widget-api p, #rest-api p{text-align: left;margin-bottom: 20px;}

#widget-api h3,#rest-api h3{margin-bottom:60px;font-size:23px;letter-spacing:1px;}
#rest-api li{text-align: left;margin-bottom: 8px;}


.about-description p{color:#777;font-size: 16px; line-height: 23px;}
#contact-form{text-align: left;margin-top:40px;}
#contact-form textarea{margin-bottom:30px;}
#extra-page{
	text-align: center;
}
#extra-page a{color: #223544;font-weight: bold;}

#extra-page h5{
	color:#555; 
	font-size:20px;
}

#extra-page p{font-size: 16px;color:#444;line-height: 26px;margin-top: 30px;}


/*
#press-bg .icon{
	text-align: center;
	color:white;
}*/
#press-bg h4{font-size: 20px;}

#press-bg div,#press-bg .icon{text-align: center;}
#press-list{color:#333;font-size: 18px;border-top: 1px solid #e5e5e5;}
#press-list span{float: left;margin-right: 20px;}
#press-list li{list-style: none;border-bottom: 1px dotted #999;
padding: 50px 0;}
#press-list img{width: 100px;}
#press-list .icon{font-size:30px;}
#press-list ul{margin-top: 50px}
#press-list li:nth-child(7) p{margin-top: 25px;}
#press-list .icon-microphone button{margin-top: 22px;}
#press-divider{border-left:1px solid #e5e5e5;padding-left: 32px;}
#press-bg .ribbon {margin-top: -7px;}


.about-bg h3{
	color: white;
	font-size: 20px;
	padding-top: 100px;
	line-height: 32px;
}
#usercase{
	color:#333;
}

#usercase h5{font-size: 18px;}
#usercase p{
	color:#fff;opacity: 0.5;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

/** user case 1,2,3,4 **/
#case1:hover,
#case2:hover,
#case3:hover,
#case4:hover{cursor:pointer; }

#case1:hover p,
#case2:hover p,
#case3:hover p,
#case4:hover p{opacity: 1;color: #333;cursor:pointer; }



#desktop .icon-apple p{text-align: center;}
#mobile,#desktop,#web div{font-size:30px; color:#333;}

#tab-content{margin-bottom:40px;}
#tab-content p{margin-top:20px;text-align: left;font-size: 14px;line-height: 22px;}


.team-profile{margin-top: 78px;}
#team .team-profile p{
	text-align: center;
	font-size: 13px;
	margin-bottom: 30px;
}


/** alert warning for widget ***/
.alert-warning{
	color: #333;
background-color: rgba(255,255,255,0.9);
border-color: #333;
}

.progressbar{margin:20px 0 40px 0;}


.tooltip-inner{background-color: white;color:#333;}
.tooltip .left .tooltip-arrow{border-bottom-color:white;}



.carousel-control.left, .carousel-control.right{
	background-image:none;
}


.branding h3 { 
	color: white; 
	margin-bottom: 40px;
	font-weight:100;
	text-transform: uppercase; 
	margin-top: 20px; 
	letter-spacing: 4px;
}
#downtab span{font-size: 30px;}
#downtab a{color:#333;text-decoration: none;font-size: 30px;}
#downtab .active a{color: #00bedd;}

#benefit .icon{
	font-size: 50px;
	color:white;
	padding: 22px;
	margin:0 auto;
}

#download-area{padding:80px 20px;}
#download-area h4{color:#223544;line-height:1.6em;text-align:center;font-size: 20px;margin-bottom: 30px;}


#platform .icon{padding: 13px;color:white;}
#product{text-align: center;color: #333;}
#product img{width:61.7703349%;}
#product .row div{margin-bottom: 40px;}
#product img,#multi-device img{width: 80%;}



.api-bg p{margin:20px 0 30px 0;}
.api-bg li{margin:10px 0;}


#press img{width:60px;}



.about-img h3{margin-top:123px;}



#top-btn a{
	color:#fff;
	text-decoration:none;
	padding:0;
	margin-top:200px;
	height:30px;
	line-height: 29px;
}


#testimony p{
	font-size:18px;
	line-height: 1.8em;
	font-family: 'Arvo', serif;
	font-weight: 400;
	color:#5c5c5c;
}
#user{background-color: #fff;color:#333;border-top: 1px solid #e5e5e5;}
#user h4{color: #333;}



ul.legals { list-style: none; color: #fff; line-height: 25px; }
ul.legals li { display: inline-block; }
ul.legals li::after { content: " |"; }
ul.legals li:last-child::after { content: ""; }
.legals {text-align: left;}
.credit {text-align: right;}


.item img{margin: 0 auto;}
.item h3{
	font-weight:normal;
	font-size:18px;
	text-align:left;
	padding-bottom: 10px;
}
/*.short-bg .icon{padding-top: 50px;}*/

#extra-page .icon-console,
#extra-page .icon-warning,
#api .icon,
.short-bg .icon{
	font-size:50px;
}

#platform{padding-bottom: 86px;font-size:23px;}



#dropzone{
	padding: 20px;
	border: 2px dotted #446987;
	border-radius: 10px;
	margin-bottom: 30px;
}

/************* FOOTER *******************/
footer ul{margin-bottom:50px;padding-left: 20px;}
footer li{margin-bottom: 5px;}
footer a:hover{color:rgb(0,190,221);text-decoration: none;}
footer { background-color: #242830; }
footer p { color: #fff; }
#sns-responsive li:nth-child(4) img{width: 27px;}

.nav-tabs{border: none;}

.alert-dismissable, .alert-dismissible{padding-right: 10px;}

.alert-dismissable .close, .alert-dismissible .close {
top: -5px;
right: 0px;
}


/***** progress bar state ****/
/*
서버에러나 상대편에서 받기나 보내기를 취소한경우 Progressbar 회색으로 바뀜 클래스 이름 progress-bar-error를
progress-bar 클래스 대신 교체하면 됩니다.
*/
.progress-bar-error{background-color: #a8a8a8;}
.progress{height: 30px;}


button span{font-weight: 300;}
#sending div,#receiving div,.succeed div {margin-bottom: 10px;}
#sending h3, #sending p,
#receiving h3, #receiving p,
.succeed h3, .succeed p{
	text-align:left;
	color:white;
}
#sending h3,#receiving h3,.succeed h3{font-size:18px;/*margin:15px 0 26px 0;*/}
#sending p,#receiving p,.succeed p{font-size:15px;margin-bottom:12px;}
/*#receiving h3,.succeed h3{margin-top:10px;}*/


#receive{
	border-top:1px solid #00bedd;
}
#receive h3{margin-top: 10px;}
#receive .item{padding-top: 30px;}
/*#receive,#social-btn{
	background-color: #223544;
	
}*/
/*#receive .form-group{margin-bottom: 30px;}*/

#receiving h3{font-size:18px;margin-bottom:20px;}
#receive-form input{margin-bottom: 20px;}
#receive-form{text-align: center;}
#editable{
	margin-bottom: 20px;
}
#editable .icon{/*margin-left: 22px;*/margin-bottom:20px;font-size: 38px;}
#profile-name{
	font-size: 16px;/*padding-left: 6px;*/
	border: 1px solid #00bedd;
	margin: 0 auto;
	padding: 5px 11px;
	border-radius: 6px;
}
#editable h3{font-size: 18px;}
#send2{overflow:hidden;}
#code-generate{margin:12px 0 10px 0;}
#code-generate h3{margin-top:5px;}

#code-generate h3:first-child{color:white;margin-bottom: 12px;}
#code-generate h3:nth-child(2){color:#00bedd;font-size: 24px;
	text-align: center;}
#code-generate span,#sending span, #receiving span,.succeed span,#send span,#receive span{margin-right: 15px;}

#filesize-push, #receive-push,#message-qr,#message-url,#browser-push{
	margin-bottom: 127px;
	background-color: #e5e5e5;
	border-radius: 5px;
	padding:20px;
	color: #333;
}
#filesize-push .icon, #receive-push .icon,#message-url .icon{
	font-size: 16px;float: right; /*margin:-6px -11px 0 0;*/
}
#filesize-push{margin-top: 24px;}

.hidden{
	  display: none;
    visibility: hidden;
}

.reveal{
	  display: block;
    visibility: visible;
}

.bar-guage{margin-top:36px;padding:0;}
.bar-guage .time{color:#333;padding:6px;}
.progress-bar {
  background-color: #fe7260;
  padding: 5px;
  margin-right: 34px;
}


#download-alert{
	margin-bottom: 0;
border: none;
background: none;
	-webkit-box-shadow: 0 3px 6px -6px #333;
	   -moz-box-shadow: 0 3px 6px -6px #333;
	        box-shadow: 0 3px 6px -6px #333;
}

.kor{top:10px;left: 80px;padding:17px 10px}
.eng{
	top: 35px;
	left: 141px;
	padding: 15px 10px;
}

.item button{font-size:15px;}
#sub-info{font-size:13px;color:#e5e5e5;}
.pager{margin-left: 34px;}

.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
visibility: hidden;
}

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight {
visibility: visible;
}

.delay-03s { animation-delay: 0.3s; -webkit-animation-delay: 0.3s; }
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }

.widget-active{
	color: #223544;
}




