@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@font-face {
font-family: "ff-netto-web",sans-serif;
font-style: normal;
font-weight: 400;
}


body{font-family: 'Open Sans', sans-serif;}

.hero h2,
.panel-view h3



{font-family: 'ff-netto-web', sans-serif;}