
.offnav-content {
	/*overflow-y: scroll;*/
	/*background: #f3efe0;*/
}

.offnav-content,
.offnav-content-inner {
	position: relative;
}

.offnav-container {
	position: relative;
	overflow: hidden;
}

.offnav-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	/*height: 100%;*/
	-webkit-transition: -webkit-transform 0.5s;
	-o-transition: -webkit-transform 0.5s;
	-ms-transition: -webkit-transform 0.5s;
	ms-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.offnav-pusher:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	-ms-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	ms-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	-o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.offnav-menu-open .offnav-pusher:after {
	width: 100%;
	height: 100%;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.offnav-menu {
	position: absolute;
	top: 80px;
	right: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 340px;
	background: #223544;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	border-bottom-left-radius: 8px;
}

.offnav-menu:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.offnav-menu-open .offnav-menu:after {
	width: 0;
	height: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	-ms-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	ms-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.offnav-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.offnav-menu h4 {
	margin: 0;
	padding: 1em;
	/*color: rgba(0,0,0,0.4);*/
	color:white;
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.offnav-menu ul li a {
	/*display: block;*/
	/*padding: 1em 1em 1em 1.2em;*/
	outline: none;
	/*box-shadow: inset 0 -1px rgba(0,0,0,0.4);*/
	color: #fff;
	/*text-transform: uppercase;*/
	/*text-shadow: 0 0 1px rgba(255,255,255,0.1);*/
	/*letter-spacing: 1px;*/
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

/*.offnav-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}*/

.offnav-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	-o-box-shadow: inset 0 -1px rgba(0,0,0,0);
	-ms-box-shadow: inset 0 -1px rgba(0,0,0,0);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

/* Individual effects */

/* Effect 1: Slide in on top */
.drawer-effect.offnav-menu {
	visibility: visible;
	-ms-transform: translate3d(100%, 0, 0);
	ms-transform: translate3d(100%, 0, 0);
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.drawer-effect.offnav-menu-open .drawer-effect.offnav-menu {
	visibility: none;
	-ms-transform: translate3d(0, 0, 0);
	ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.drawer-effect.offnav-menu:after {
	display: none;
}


/* Effect 1: Slide in on top */
.drawer-effect2.offnav-menu {
	visibility: visible;
	-ms-transform: translate3d(100%, 0, 0);
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.drawer-effect2.offnav-menu-open .drawer-effect2.offnav-menu {
	visibility: visible;
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.drawer-effect2.offnav-menu:after {
	display: none;
}
