.panel-view{
	padding:50px 20px;
	/*margin:50px 0;*/
	color:white;

}

.box-panel{
	background-color: #ecf0f1;
	padding:20px;
	height: 250px;

	border-radius: 10px;
	margin: 0 10px 30px 10px;
	-webkit-box-shadow: 0 6px 10px -6px #333;
	   -moz-box-shadow: 0 6px 10px -6px #333;
	        box-shadow: 0 6px 10px -6px #333;
}
.card{
	height:460px;
	/*background-color: #00cced;*/
	/*background-color: rgba(255,255,255,0.8);*/
	border-radius: 10px;
	/*border: 2px solid white;*/
	width: 300px;
	margin: 0 auto;
	/*margin-right: 50px;*/
	/*-webkit-box-shadow: 0 5px 6px -6px #333;
	   -moz-box-shadow: 0 5px 6px -6px #333;
	        box-shadow: 0 5px 6px -6px #333; */
	overflow: hidden;
}


.card img{width:40px;margin-top: 13px}


.card-top{
	background-color: #00bedd;
	width:200px;
	height:150px;
	border-radius: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}


.card-bottom{
	background-color:#fe7260;
	width:200px;
	height:150px;
	border-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.dotted-bottom{
	border:2px dotted #00bedd;
	border-top: none;
	width:200px;
	height:150px;
	border-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.dotted-top{
	border:2px dotted #fe7260;
	border-bottom: none;
	width:200px;
	height:150px;
	border-radius: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#send{
	background-color: #223544;
	color:white;
}

#secure-code{
	font-size: 26px;
	padding: 0 38px;
	margin:18px 0;
}
#secure-code span{float:left;margin-right: 15px;color: white;}
#receive{
	/*border-top: 1px solid white;*/
	/*background-color: #ecf0f1;*/
	background-color: #223544;
	
	/*border-bottom-right-radius: 10px;*/
	border-top:1px solid #00bedd;
}
#receive .item{padding-top: 45px;}
#receive,#social-btn{
	background-color: #223544;
	
}


#social-btn{
	background-color: #ecf0f1;
	font-size: 20px;
	padding: 20px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow: 0 8px 6px -6px #333;
	   -moz-box-shadow: 0 8px 6px -6px #333;
	        box-shadow: 0 8px 6px -6px #333;
}

#social-btn span{margin-left:46px;}

.overlay-card{
	/*background-color: rgba(255,255,255,0.9);*/
	background-color: #00bedd;
	/*border-bottom-right-radius: 10px;*/
	/*border-bottom-left-radius: 10px;*/
	padding:20px;
	width: 300px;
	border-top:1px solid #51718A;
	/* margin: 0 auto; */
	/* overflow: scroll; */
	height: 200px;
	/*z-index: 1000;*/
	position: relative;
	overflow: scroll;
	-moz-box-shadow:    inset 0 0 10px #044E5A;
   -webkit-box-shadow: inset 0 0 10px #044E5A;
   box-shadow:         inset 0 0 10px #044E5A;
}

.widget-btn{
	position: absolute;
	right: 100%;
	top: 0%;
	background-color: #223544;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	color:white;
	padding:15px;
	z-index: 100;
	-webkit-box-shadow: 0 8px 6px -6px #333;
	   -moz-box-shadow: 0 8px 6px -6px #333;
	        box-shadow: 0 8px 6px -6px #333;
	transition: background-color 0.8s ease;
}
.widget-btn:hover{background-color: #fe7260;}
.widget{
	background-color: #223544;
	/*border-bottom-right-radius: 10px;*/
	border-bottom-left-radius: 10px;
	padding:20px;
	width: 300px;
	/* margin: 0 auto; */
	/* overflow: scroll; */
	height: 400px;
	right: -300px;
	top: 10%;
	z-index: 1000;
	position: absolute;
	/*visibility: hidden;*/
}

/*#download-btn{transition: background-color 0.3s ease;}*/
#download-btn:hover{background-color: #fe7260;border-color: #fe7260;}
.hero a:hover{text-decoration: none;}
/*
#00bedd
#223544 navy
#3550877 sea blue
#fe7260 orange
#9ED61A green
#4F87FF blue
#e5e5e5 light white gray
#5c5c5c dark gray instead of #333

#223544



*/