.panel-view{
	padding:70px 20px;
	/*margin:50px 0;*/
	color:white;

}

.card{
	height:460px;
	/*background-color: #00cced;*/
	/*background-color: rgba(255,255,255,0.8);*/
	border-radius: 10px;
	/*border: 2px solid white;*/
	width: 300px;
	margin: 0 auto;
	/*margin-right: 50px;*/
	/*-webkit-box-shadow: 0 5px 6px -6px #333;
	   -moz-box-shadow: 0 5px 6px -6px #333;
	        box-shadow: 0 5px 6px -6px #333; */
	overflow: hidden;
}

.card img{width:60px;}

#send{
	background-color: #223544;
	color:white;
}
#receive{
	/*border-top: 1px solid white;*/
	background-color: #ecf0f1;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


.overlay-card{
	background-color: rgba(255,255,255,0.9);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding:20px;
	width: 300px;
	/* margin: 0 auto; */
	/* overflow: scroll; */
	height: 300px;
	/*z-index: 1000;*/
	position: relative;
	overflow: scroll;
}

/*
#00bedd
#223544 navy
#3550877 sea blue
#fe7260 orange
#9ED61A green
#4F87FF blue

#223544



*/